<div class="container-fluid bgc">
    <div class="row">
        <h1 align="center"><strong>TRAVEL THE WORLD</strong></h1>
    </div>


</div>

<p>20/07/2018</p>
<div class="container-fluid">
    <br><br><br><br><br><br>
    <div class="col-md-4"  ></div>
    <div class="col-md-4" >    <img  class="img-rounded"  src="https://www.cibc.com/content/dam/special_offers/mass_campaigns/summer-travel/summer-travel-usa-02.png/_jcr_content/renditions/cq5dam.web.1280.1280.png?cq_ck=1490289796000" alt="Cinque Terre">
    </div>

</div>




<div class="flight-engine" >
               <div class="container">
                  <div class="tabing">
                     <ul>
                        <li><a class="active" href="#1"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                        </li>
                         <li><a  href="#2"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                        </li>
                     </ul>
                     <div class="tab-content">
                        <div id="1" class="tab1 active">
                           <div class="flight-tab row">
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" [(ngModel)]="searchDto.destination" class="textboxstyle"  id="dep" placeholder="Where are you going?" >
                              </div>
                            
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" [(ngModel)]="searchDto.checkIn" class="textboxstyle" id="from-date1" placeholder="Depart(dd/mm/yyyy)">
                              </div>
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" [(ngModel)]="searchDto.checkOut" class="textboxstyle" id="to-date" placeholder="Return(dd/mm/yyyy)">
                              </div>
                              <div class="persent-one">
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                 <input  type="text" name="dep" [(ngModel)]="searchDto.numPerson"   numPerson class="textboxstyle" id="dep" placeholder="Passenger">
                              </div>
                              <div class="persent-one less-btn">
                                 <input type="Submit" name="submit" (click)="newMessage()" [routerLink]="['mainpage']" value="Search" class="btn btn-danger cst-btn" id="srch">
                              </div>
                           </div>
                           <!-- flight tab -->
                        </div>
                  
                     </div>
                     </div>
                     <!-- tab content -->
                  </div>
                  <!-- tabbing -->
               </div>

              