
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img  style="height:300px;"src="https://s-ec.bstatic.com/images/hotel/max1024x768/797/79726354.jpg" alt="First Slide">
            </div>
            <div class="item">
                <img  style="height:300px;" src="https://s-ec.bstatic.com/images/hotel/max1024x768/797/79726354.jpg" alt="Second Slide">
            </div>
            <div class="item">
                <img style="height:300px;" src="https://s-ec.bstatic.com/images/hotel/max1024x768/797/79726354.jpg" alt="Third Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<!-- SLIDER END -->
<!-- SLIDER END -->

<div class="container" align="center">
    <h1 >Ime HOTELA </h1><p><i>rating: 8.5</i></p>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
      <li><a data-toggle="tab" href="#menu1">Reviews</a></li>
      <li><a data-toggle="tab" href="#menu2">Additional services</a></li>
    </ul>
  <p style="padding:10px"></p>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
       <div class="container">
      
      <p>Ovde opisemo hotel....
	  ima wifi,parking
	  blizu centra itd</p>
     </div>
    </div>
      <div id="menu1" class="tab-pane fade">
        <div class="container">
       <!-- KOMENTARI -->
	   <div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Guest reviews</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="https://www.telerik.com/images/avatarimages/bdee0df7-fb14-4dbd-b447-cf78aa0ccf93black_user_icon.png" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a >
                                       Moja preporuka</a>
                                    <div class="mic-info">
                                        By: <a>Jurke95</a> on 2 Aug 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                   Jako udobni kreveti, restoran je jako blizu.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
     </div>
    </div>
      <div id="menu2" class="tab-pane fade">
        <div class="container">
       <table class="table">
            <thead>
            </thead>
            <tbody>
       <!-- <ng-container *ngFor="let service of sevices"> -->
             <tr>
              <td>
                    <h4>{{services}}</h4>
              </td>
            </tr>
      <!--  </ng-container> -->		
        </tbody>
      </table>
     </div>
    </div>
      
    </div>
  </div>