
<div class="wrap ">
    <div class="menu">
	
	
	<!--Sortiranje -->
	 <div class="menu-size menu-item">
            <div class="header-item" >Sort</div>
            <ul class="color-row1">
                <li>
					<div class="radio">
						<label><input type="radio" name="optradio" value="Pricea" [(ngModel)]="selectedSort">Price ascending</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="Priced" [(ngModel)]="selectedSort">Price descending</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="category" [(ngModel)]="selectedSort">Category</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="rating" [(ngModel)]="selectedSort">Rating</label>
					</div>
				</li>
				<li>
					 <button type="button" class="btn btn-default btn-sm" (click)="sortAccommodation()">
						<span class="glyphicon glyphicon-search"></span> Sort 
					 </button>
				</li>
                
            </ul>
        </div>
	
	
		
	
        
		<!-- Filter DODATNE USLUGE -->
        <div class="menu-size menu-item">

			<div class="header-item" >Type</div>
				<div class="row">
						<mat-selection-list class="col-md-12" #listt>
						 <mat-list-option *ngFor="let ty of types" [selected]="ty.selected" [value]="ty" (click)="onSelectOptionChangeType(listt)">
						   {{ty}}
						  
						
						 </mat-list-option>
						</mat-selection-list>
				</div>


			<div class="header-item" >Categorization</div>
				<div class="row">
					<mat-selection-list class="col-md-12" #listc>
					 <mat-list-option *ngFor="let ct of categorys" [selected]="ct.selected" [value]="ct" (click)="onSelectOptionChangeCategory(listc)">
					   {{ct}}
					  
					
					 </mat-list-option>
					</mat-selection-list>
				</div>




            <div class="header-item" >Additional services</div>
				<div class="row">
					<mat-selection-list class="col-md-12" #list>
					 <mat-list-option *ngFor="let shoe of additionalServices" [selected]="shoe.selected" [value]="shoe" (click)="onSelectOptionChange(list)">
					   {{shoe}}
					  
					
					 </mat-list-option>
					</mat-selection-list>
				  </div>
				
				<div class="row" style="margin-left: 17px;">
					<button type="button" class="btn btn-default btn-sm" (click)="serviceFilter()">
						<span class="glyphicon glyphicon-search"></span> Search 
					 </button>

				</div>
					
				
                
            
        </div>
        
    </div>

  
        
  <div class="items">
       
        
        
         
         
         
        
     <ul  *ngFor="let accommodation of accommodations">
		 <li>
			<div class="roww">
				<h2 class="ime">{{accommodation.name}}</h2>
				<div class="column left " >
					<a href="http://localhost:4201/firstpage/viewaccommodation/{{accommodation.id}}">	<img src="{{accommodation?.picture}}" alt="accomodation" class="img-item"/></a>
						
			
				</div>
			
				<div class="column space">
			
				</div>
					  
				<div class="column right" >
					<h3>Type:{{accommodation.type}}</h3>
					<p class="descroption">Raiting:{{accommodation.rating}}</p>
					<h5>Price:{{accommodation.price}}</h5>
					<button type="button" class="btn btn-info btn-sm btnR" (click)="reservation(accommodation.id, accommodation.name)">
						<span class="glyphicon glyphicon-tag"></span> Reservation
					</button>		  
							
							  
					  
				</div>
			
			
			</div>
		
		</li>
	</ul>   


    
</div>

<!--  
<div  class="item row">
		<h3><strong>{{accommodation.name}}</strong></h3>
			<div class="column left">
					<img src="https://www.freeiconspng.com/uploads/hotel-png-4.png" alt="accomodation" class="img-item"/>
			</div>
			<div class="info column right">
				<h3>Nalazi se u blizini Centra</h3>
				<p class="descroption">Raiting:8.5</p>
				 <h5>$900</h5>
				 <button type="button" class="btn btn-info btn-sm btnR">
					<span class="glyphicon glyphicon-tag"></span> Reservation
				</button>
			</div>
	</div>

-->